@import 'front/framwork';
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    padding-top: 56px;
}
.footer-icon{
    font-size: 22px;
}
