.btn-primary {
  background-color: #706fd3;
  border-color: #706fd3;
}

.btn-secondary {
  background-color: #474787;
  border-color: #474787;
}

.btn-success {
  background-color: #33d9b2;
  border-color: #33d9b2;
}

.btn-danger {
  background-color: #ff5252;
  border-color: #ff5252;
}

.btn-warning {
  background-color: #ffb142;
  border-color: #ffb142;
}

.btn-info {
  background-color: #218c74;
  border-color: #218c74;
}

.btn-light {
  background-color: #f7f1e3;
  border-color: #f7f1e3;
}

.btn-dark {
  background-color: #2c2c54;
  border-color: #2c2c54;
}

.btn-primary:hover {
  color: #fff;
  background-color: #706fd3;
  border-color: #706fd3;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #474787;
  border-color: #474787;
}

.btn-success:hover {
  color: #fff;
  background-color: #33d9b2;
  border-color: #33d9b2;
}

.btn-danger:hover {
  color: #fff;
  background-color: #ff5252;
  border-color: #ff5252;
}

.btn-warning:hover {
  color: #fff;
  background-color: #ffb142;
  border-color: #ffb142;
}

.btn-info:hover {
  color: #fff;
  background-color: #218c74;
  border-color: #218c74;
}

.btn-light:hover {
  color: #fff;
  background-color: #f7f1e3;
  border-color: #f7f1e3;
}

.btn-dark:hover {
  color: #fff;
  background-color: #2c2c54;
  border-color: #2c2c54;
}

.btn-primary:focus {
  color: #fff;
  background-color: #706fd3;
  border-color: #706fd3;
  box-shadow: none;
}

.btn-secondary:focus {
  color: #fff;
  background-color: #474787;
  border-color: #474787;
  box-shadow: none;
}

.btn-success:focus {
  color: #fff;
  background-color: #33d9b2;
  border-color: #33d9b2;
  box-shadow: none;
}

.btn-danger:focus {
  color: #fff;
  background-color: #ff5252;
  border-color: #ff5252;
  box-shadow: none;
}

.btn-warning:focus {
  color: #fff;
  background-color: #ffb142;
  border-color: #ffb142;
  box-shadow: none;
}

.btn-info:focus {
  color: #fff;
  background-color: #218c74;
  border-color: #218c74;
  box-shadow: none;
}

.btn-light:focus {
  color: #fff;
  background-color: #f7f1e3;
  border-color: #f7f1e3;
  box-shadow: none;
}

.btn-dark:focus {
  color: #fff;
  background-color: #2c2c54;
  border-color: #2c2c54;
  box-shadow: none;
}

.btn-primary:active {
  color: #fff !important;
  background-color: #706fd3 !important;
  border-color: #706fd3 !important;
}

.btn-secondary:active {
  color: #fff !important;
  background-color: #474787 !important;
  border-color: #474787 !important;
}

.btn-success:active {
  color: #fff !important;
  background-color: #33d9b2 !important;
  border-color: #33d9b2 !important;
}

.btn-danger:active {
  color: #fff !important;
  background-color: #ff5252 !important;
  border-color: #ff5252 !important;
}

.btn-warning:active {
  color: #fff !important;
  background-color: #ffb142 !important;
  border-color: #ffb142 !important;
}

.btn-info:active {
  color: #fff !important;
  background-color: #218c74 !important;
  border-color: #218c74 !important;
}

.btn-light:active {
  color: #fff !important;
  background-color: #f7f1e3 !important;
  border-color: #f7f1e3 !important;
}

.btn-dark:active {
  color: #fff !important;
  background-color: #2c2c54 !important;
  border-color: #2c2c54 !important;
}

.btn-outline-primary {
  border-color: #706fd3;
}

.btn-outline-secondary {
  border-color: #474787;
}

.btn-outline-success {
  border-color: #33d9b2;
}

.btn-outline-danger {
  border-color: #ff5252;
}

.btn-outline-warning {
  border-color: #ffb142;
}

.btn-outline-info {
  border-color: #218c74;
}

.btn-outline-light {
  border-color: #f7f1e3;
}

.btn-outline-dark {
  border-color: #2c2c54;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #706fd3;
  border-color: #706fd3;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #474787;
  border-color: #474787;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #33d9b2;
  border-color: #33d9b2;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #ff5252;
  border-color: #ff5252;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #ffb142;
  border-color: #ffb142;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #218c74;
  border-color: #218c74;
}

.btn-outline-light:hover {
  color: #fff;
  background-color: #f7f1e3;
  border-color: #f7f1e3;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #2c2c54;
  border-color: #2c2c54;
}

.btn-outline-primary:focus {
  color: #fff;
  background-color: #706fd3;
  border-color: #706fd3;
  box-shadow: none;
}

.btn-outline-secondary:focus {
  color: #fff;
  background-color: #474787;
  border-color: #474787;
  box-shadow: none;
}

.btn-outline-success:focus {
  color: #fff;
  background-color: #33d9b2;
  border-color: #33d9b2;
  box-shadow: none;
}

.btn-outline-danger:focus {
  color: #fff;
  background-color: #ff5252;
  border-color: #ff5252;
  box-shadow: none;
}

.btn-outline-warning:focus {
  color: #fff;
  background-color: #ffb142;
  border-color: #ffb142;
  box-shadow: none;
}

.btn-outline-info:focus {
  color: #fff;
  background-color: #218c74;
  border-color: #218c74;
  box-shadow: none;
}

.btn-outline-light:focus {
  color: #fff;
  background-color: #f7f1e3;
  border-color: #f7f1e3;
  box-shadow: none;
}

.btn-outline-dark:focus {
  color: #fff;
  background-color: #2c2c54;
  border-color: #2c2c54;
  box-shadow: none;
}

.btn-outline-primary:active {
  color: #fff !important;
  background-color: #706fd3 !important;
  border-color: #706fd3 !important;
}

.btn-outline-secondary:active {
  color: #fff !important;
  background-color: #474787 !important;
  border-color: #474787 !important;
}

.btn-outline-success:active {
  color: #fff !important;
  background-color: #33d9b2 !important;
  border-color: #33d9b2 !important;
}

.btn-outline-danger:active {
  color: #fff !important;
  background-color: #ff5252 !important;
  border-color: #ff5252 !important;
}

.btn-outline-warning:active {
  color: #fff !important;
  background-color: #ffb142 !important;
  border-color: #ffb142 !important;
}

.btn-outline-info:active {
  color: #fff !important;
  background-color: #218c74 !important;
  border-color: #218c74 !important;
}

.btn-outline-light:active {
  color: #fff !important;
  background-color: #f7f1e3 !important;
  border-color: #f7f1e3 !important;
}

.btn-outline-dark:active {
  color: #fff !important;
  background-color: #2c2c54 !important;
  border-color: #2c2c54 !important;
}

.text-primary {
  color: #706fd3 !important;
}

.text-secondary {
  color: #474787 !important;
}

.text-success {
  color: #33d9b2 !important;
}

.text-danger {
  color: #ff5252 !important;
}

.text-warning {
  color: #ffb142 !important;
}

.text-info {
  color: #218c74 !important;
}

.text-light {
  color: #f7f1e3 !important;
}

.text-dark {
  color: #2c2c54 !important;
}

.btn {
  outline: none;
  border: none;
  box-shadow: none;
}

.btn:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.bg-primary {
  background-color: #706fd3 !important;
}

.bg-secondary {
  background-color: #474787 !important;
}

.bg-success {
  background-color: #33d9b2 !important;
}

.bg-danger {
  background-color: #ff5252 !important;
}

.bg-warning {
  background-color: #ffb142 !important;
}

.bg-info {
  background-color: #218c74 !important;
}

.bg-light {
  background-color: #f7f1e3 !important;
}

.bg-dark {
  background-color: #2c2c54 !important;
}

.badge-primary {
  background-color: #706fd3;
}

.badge-secondary {
  background-color: #474787;
}

.badge-success {
  background-color: #33d9b2;
}

.badge-danger {
  background-color: #ff5252;
}

.badge-warning {
  background-color: #ffb142;
}

.badge-info {
  background-color: #218c74;
}

.badge-light {
  background-color: #f7f1e3;
}

.badge-dark {
  background-color: #2c2c54 !important;
}

.list-group-item.active {
  background-color: #706fd3;
  border-color: #706fd3;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding-top: 56px;
}

.footer-icon {
  font-size: 22px;
}
